.writings{

  &__title{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #8C8C8C;
    margin: 50px 0 45px 20px;
  }

  &__carousel{

    &-text{
      font-size: 14px;
      line-height: 21px;
      color: #757575;
      margin: 27px 0 0;
      text-align: center;
    }
  }
}